@import url('https://fonts.googleapis.com/css2?family=EB+Garamond:ital,wght@0,400..800;1,400..800&family=Lato:ital,wght@0,100;0,300;0,400;0,700;0,900;1,100;1,300;1,400;1,700;1,900&display=swap');

*,
*::before,
*::after {
  box-sizing: border-box;
}

body {
  margin: 0;
  height: 100vh; /* Ensures the body takes up the full viewport height */
  display: flex; /* Makes the body a flex container */
  justify-content: center; /* Centers items horizontally */
  align-items: center; /* Centers items vertically */
  font-family: sans-serif;
  background: #FFF6FF;
  background: radial-gradient(circle, rgba(255, 246, 255, 1) 0%, rgba(105, 0, 209, 1) 100%);
}

.content{
    display: flex;
    flex-direction: column;
}

/****************** TOP CONTENT ******************/
.top-content-container {
  display: flex;
  justify-content: center; /* Centers the inner-div horizontally */
  align-items: center; /* Centers the inner-div vertically */
}

.girl-image-container {
  position: absolute;
  width: 200px;
  height: 200px;
  top: 1.5rem;
}

.girl-image {
  height: 200px;
}

.main-content-container {
  position: absolute;
  width: 353px;
  height: 268px;
  top: 192px;
  background-color: #FFF6FF;
  border: .4rem solid #6900D1;
  border-style: double;
  border-radius: 32px;
  display: flex;
  flex-direction: column;
  align-items: center;   /* Centers items horizontally */
}

.heading{
    font-family: 'Lato', sans-serif;
    text-align: center;
}

.my-name{
    color: #392a46;
}

.dev-title{
    font-size: 1rem;
    color: #9f88b1;
}

.tagline{
    font-family: "EB Garamond", serif;
    font-weight: bold;
    color: #9f88b1;
    margin-top: -2rem;
}

.social{
    width: 30%;
    display: flex;
    justify-content: space-around;
}

.social-icon{
    font-size: 2rem;
    color: #9f88b1;
}

.menu{
    width: 90%;
    margin-top: 3rem;
    font-size: .8rem;
}

.menu nav{
    display: flex;
    justify-content: space-around; 
}

.menu nav a{
    text-decoration: none;
    color: #392a46;
    font-weight: bold;
}

/****************** MIDDLE CONTENT ******************/
.project-images-container {
  margin-top: 40rem;
  display: flex; /* Enables Flexbox layout */
  flex-wrap: wrap; /* Allows items to wrap to the next line */
  justify-content: space-around; /* Distributes space evenly around items */
  gap: 20px; /* Adds a fixed gap between items (optional, but recommended for consistent spacing) */
}

.project-image {
  width: 6rem;
  height: 6rem;
  border-radius: 12px;
}


/**********************************FOOTER*****************************/
footer{
    background-color: #392a46;
    height: 15rem;
    margin-top: 2rem;
    display: flex;
    flex-direction: column;
    justify-content: space-around;
    align-items: center;
   color: #9f88b1;
}

.footer-menu nav{
    height: 8rem;
    display: flex;
    flex-direction: column;
    justify-content: space-around;
    align-items: center;

}

.footer-menu a{
    text-decoration: none;
    color: #9f88b1;
}

.caret{
    height: 1rem;
    color: #9f88b1;
}