.header-container {
  position: relative;
  padding-top: 2rem;
  margin: 1rem;
}

.header-img-container {
  width: 200px;
  height: 200px;
}

.header-content-container {
  position: absolute;
  top: 85%;
  left: 50%;
  transform: translate(-50%, 0%);
  z-index: 10;
  background-color: #fff6ff;
  border: 10px double #6900d1;
  border-radius: 32px;
  padding: 2rem 0;
}

.header-content-container h1 {
  font-weight: bolder;
  color: #392a46;
}

.role-row {
  color: #9f88b1;

}

.tagline-row {
  color: #9f88b1;
  font-family: "EB Garamond", serif;
  font-optical-sizing: auto;
  font-weight: 800;
  font-style: italic;

}

.header-container a {
  text-decoration: none;
  color: #392a46;
}

.social-row {
 padding-bottom: 1rem;
}

.social-icon {
  color: #6900d1;
  font-size: 2rem;
}
