.projects-section{
  margin-top: 20rem;
}

.projects-intro-container h2{
  font-family: "EB Garamond", serif;
  font-optical-sizing: auto;
  font-weight: 800;
  font-style: italic;

}

.project-card-container{
  margin-bottom: 2rem;
}

.project-card{
  background-color: #392A46;
  color: #9F88B1;
}